.modif{
  color: red;
}
table, th, td{
  border:3px solid black;
}

 p{
  margin: 10px;
    border-left: 4px solid black;
    padding:0%;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(211, 10, 10, 0.1);
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
    transition: all 0.3s ease;
   }
   p:hover{
    background-color:rgb(130, 85, 2);
    border-left-color: rgb(67, 65, 90);
    transform: translateX(5px);
   }
    @keyframes fadeIn{
      from {opacity: 0;}
      to { opacity: 0.5;}
    }
    h1{
      color: aliceblue;
      margin: 20px 0;
      text-align: center;
      animation: fadeIn 2s ease-in;
    }
    .dowland{
          color: white; /* Couleur du texte */
          padding: 10px 20px; /* Espacement autour du texte */
          text-align: center;
          text-decoration: none; /* Retire la décoration par défaut du lien */
          font-size: 16px;
          border-radius: 5px; /* Coins arrondis */
          display: inline-block; /* Permet de gérer la mise en forme comme un bouton */
      }
    h1{
      font-family: 'poppins', sans-serif;
      font-size: 2em;
      margin-bottom: 10px;
    }
    h4{
      font-size: 1.5rem;
      margin-bottom: 20px;
    }
    .classorom{
      margin-top: 5%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .social-links a {
      align-content:baseline;
      justify-content:right;
      gap: 15px;
  display:contents;
}

.social-links img {
  width: 30px; /* Ajustez la taille des icônes */
  height: 30px;
  clip-path: circle(50% at 50% 50%);
  transition: transform 0.3s;
}

.social-links img:hover {
  transform: scale(1.2); /* Effet d'agrandissement au survol */
}
    .mode{
      color: blue;
     text-align: left;
  }
    .navbar{
      display:list-item;
      justify-content: space-around;
      align-items: center;
      background-color: rgb(5, 44, 44);
      padding: 10px 0;
    }
    .navbar a {
      text-decoration: none;
      font-weight: bolder;
      color: rgb(0, 0, 0);
      font-size: 18px;
    }
    h1{
      text-align: left;
    }
html, body{
  background-image: url(neon-light-lion-dazzling-king-beasts_1170794-162532.jpg.avif);
overflow-y: auto;
position: relative;
overflow: auto;
  justify-content: center;
  align-items: center;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
  text-align: center;
  margin: 0;
}
li {
  line-height: 1.5;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display:block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color:blue;
}
.info{
    color: red;
}
body{
  font-family: Arial, Helvetica, sans-serif;
height: 100vh;
background-color:rgb(4, 94, 94);
text-align: center;
margin: 0;
color: white;
}
th{
    background-color: rgb(0, 109, 109);
}
li {
display:list-item;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
}

li {
float:left;
text-align: center;
}

li a {
display:block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
li a:hover {
background-color:blue;
}
li:last-child {
border-right: none;
}
.active {
background-color: #04AA6D;
}  
img{
text-align: center;
}
map{
width: 100%;
height: 400%;
}
a{
text-align: left;
}

th{
border-spacing: 10px;
}
h1{
text-align: center;
}
p{
text-align: center;
font-size: 20px;
font-family:Arial, Helvetica, sans-serif;
}
th{
background-color:rgb(27, 54, 54);
}
 h2{
        text-align: center;
      }
 
  ul {
    list-style-type:none;
    margin:0;
    padding: 0;
    overflow:hidden;
  }
  
  
  li a {
    display:block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:blue;
  }
  
  
  li:last-child {
    border-right: none;
  }
        body{
    background-color: bisque;
}
    body, p{
    background-color:rgb(4, 94, 94);
    font-size: 20px;
    text-align: center;
    font-family: cursive;
    text-align: left;
}
p{
    text-align: left;
    margin: 5px;
    padding: 10px;
}

